$app-main-color: #0042a7;
$border-color: #e7e7e7;
$white-elements: #fff;
$app-elements-color: #2b7fff;
$title-text-color: #434343;
$text-color: #818181;
$light-gray-text-color: #bbbbbb;
$light-border-color: #efefef;
$list-element-background: #f9f9f9;
$light-background-color: #f4f4f4;
$light-text-color: #fff;
$dark-text-color: #000;
$box-shadow-color: rgba(0, 0, 0, 0.16);
$second-text-color: #707070;
$section-background: #eeeeee;
