$app-main-color: #0042a7;
$border-color: #e7e7e7;
$white-elements: #fff;
$app-elements-color: #2b7fff;
$title-text-color: #434343;
$text-color: #818181;
$light-gray-text-color: #bbbbbb;
$light-border-color: #efefef;
$light-text-color: #fff;
$box-shadow-color: rgba(0, 0, 0, 0.16);
