.layout-content {
  display: flex;
  height: 94vh;
  color: #676767;
  background-color: #ffffffbe;
}

.left-menu {
  width: 300px;
  position: sticky;
  top: 0;
  right: 0;
  padding: 20px;
}

.left-menu::after {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 0;
  right: 0;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}

.left-menu .left-menu-profile-info {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: center;
}

.left-menu .left-menu-profile-info p {
  margin: 0;
  font-size: 12px;
}

.left-menu .left-menu-profile-info p.user-username {
  font-size: 14px;
  font-weight: bold;
}

.left-menu .left-menu-profile-info p.user-email {
  color: #67ade0;
}

.left-menu .left-menu-profile-info p.user-id {
  font-weight: 300;
}

.left-menu .menu-title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  color: #aaaaaa;
  margin-bottom: 5px;
}

.left-menu .left-menu-content-menu ul {
  list-style: none;
  margin: 0s;
  padding: 0;
}

.left-menu .left-menu-content-menu ul a {
  text-decoration: none;
}

.left-menu .left-menu-content-menu ul li {
  padding: 10px 10px;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.4s;
  text-decoration: none;
  color: #676767;
}

.left-menu .left-menu-content-menu ul li:hover {
  opacity: 1;
}

.left-menu .left-menu-content-menu ul li.active {
  background-color: #67ade0;
  color: #fff;
  cursor: auto;
  opacity: 1;
}

.profile-layout-content {
  flex: 1;
  padding: 20px;
}
