@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

$main-color: #67ade0;
$text-color: #828282;
$light-text-color: #fff;
$section-background: #fff;
$border-color: #eeeeee;

.createAnnouncement-page-title {
	background-color: $section-background;
	padding: 20px;
	border: 1px solid $border-color;
	border-radius: 7px;
	.title {
		font-size: 24px;
		color: $main-color;
		font-weight: bold;
	}
	p {
		color: $text-color;
		font-size: 14px;
	}
}

.createAnnouncement-container {
	display: flex;

	.container-content {
		background-color: $section-background;
		color: $text-color;
		padding: 20px;
		border: 1px solid $border-color;
		border-radius: 7px;
		overflow: scroll;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
		height: 100%;

		.container-content-title {
			color: $main-color;
			padding-bottom: 5px;
			border-bottom: 1px solid $border-color;
		}
	}

	.fixed-container {
		.progress-container {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			height: 100%;
			.progress-item {
				display: flex;
				justify-content: space-between;
				margin-top: 30px;
				position: relative;
				height: 100%;

				.description {
					color: $text-color;
					width: 80%;
					p {
						margin: 0;
						padding: 0;
					}

					.title {
						font-weight: bold;
					}
					.sub-title {
						font-size: 10px;
					}
				}

				.step-number {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					border: 2px solid #dadada;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #fff;
					opacity: 0.6;
					z-index: 2;
					cursor: pointer;

					i {
						color: $text-color;
					}
					transition: opacity 0.4s, transform 0.4s;
					transform-origin: center;

					&:hover {
						opacity: 1;
					}
				}

				&::after {
					content: '';
					position: absolute;
					right: 20px;
					top: 32px;
					width: 2px;
					background-image: linear-gradient(to bottom, transparent 50%, rgb(196, 196, 196) 50%);
					background-size: 100% 10px;
					background-repeat: repeat-y;
					height: 100%;
					transition: all 0.4s;
				}

				&:first-child {
					margin-top: 20px;
				}

				&:last-child:after {
					content: none;
				}

				&.active {
					.step-number {
						border-color: $main-color;
						cursor: default;
						opacity: 1;
						transform: scale(1.2);
					}
				}

				&.completed {
					.step-number {
						background-color: $main-color;
						opacity: 1;
						border-color: $main-color;
						color: $light-text-color;
						i {
							color: $light-text-color;
						}
					}
					&::after {
						background-image: linear-gradient(to bottom, transparent 50%, $main-color 50%);
						background-size: 100% 1px;
					}
				}
			}
		}
	}

	.scrollable-container {
		flex: 3;
		margin-left: 10px;

		.create-announcement-step-container {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			height: 100%;

			.create-announcement-bottom-buttons {
				display: flex;
				justify-content: space-between;

				&.single {
					justify-content: end;
				}
			}
		}
	}
}

.create-announcement-step-container {
	padding: 5px 0px;
	height: 100%;
}

.create-announement-tab-title {
	font-family: 'Ubuntu', sans-serif;
	color: $text-color;

	label {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		margin: 0px 0px 5px 5px;
	}
}

.form-input {
	display: flex;
	flex-direction: column;

	font-family: 'Ubuntu', sans-serif;
	color: $text-color;

	label {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		margin: 0px 0px 5px 5px;
	}

	input {
		border: none;
		border-radius: 10px;
		padding: 10px 15px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		-moz-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		opacity: 0.6;
		transition: opacity 0.4s;
		&:focus {
			outline: none;
			opacity: 1;
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	.ql-container.ql-snow {
		border: none !important;
	}

	.ql-toolbar.ql-snow {
		border: none !important;
		border-bottom: 1px solid $border-color !important;
	}

	.quill {
		border-radius: 10px;
		padding: 10px 15px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		-moz-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		max-height: 300px;
		overflow-y: scroll;
	}
}

.sugestion-input {
	position: relative;

	input {
		width: 100%;
	}
	.suggestions {
		width: 100%;
		position: absolute;
		z-index: 3;
		background-color: #fff;
		border-top: 0;
		-webkit-box-shadow: 0px 10px 10px 0px rgba(237, 237, 237, 1);
		-moz-box-shadow: 0px 10px 10px 0px rgba(237, 237, 237, 1);
		box-shadow: 0px 10px 10px 0px rgba(237, 237, 237, 1);
		border-radius: 0px 0px 10px 10px;
		overflow-y: scroll;
		max-height: 0;
		height: 0;
		transition: height 0.4s;
	}

	&.active {
		input {
			border-radius: 10px 10px 0px 0px;
		}
		.suggestions {
			max-height: 200px;
			height: auto;
		}
	}

	.suggestion-element {
		border-top: 1px solid $border-color;
		cursor: pointer;
		p {
			margin: 0;
			padding: 10px 15px;
		}

		transition: all 0.4s;

		&:hover {
			background-color: $main-color;
			color: $light-text-color;
		}
	}
}

.create-announcement-price-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	padding: 0;
	border-radius: 5px;
	button {
		width: 100%;
		height: 100%;
		border: none;
		background: none;
		padding: 10px;
		color: $text-color;
		&:hover {
			background-color: $main-color;
			color: $light-text-color;
			opacity: 0.5;
		}

		&.active {
			pointer-events: none;

			background-color: $main-color;
			color: $light-text-color;
		}
	}
}

.create-announcement-image-box {
	position: relative;
	background-color: #efefef;
	border-radius: 10px;
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.6s;

	&.dragging {
		opacity: 0;
	}

	&:hover {
		opacity: 1;
	}

	.main-image-box {
		position: absolute;
		content: '';
		top: 0;
		z-index: 2;
		background-color: $main-color;
		color: $light-text-color;
		padding: 0px 10px;
	}

	.create-announcement-image-box-content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 150px;
		text-align: center;
		color: $text-color;
		i {
			font-size: 40px;
		}
		p {
			margin-top: 10px;
		}

		.image-preview {
			min-width: 100%;
			max-width: 100%;
			height: 100%;
			text-align: center;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 5px;

				cursor: auto;
			}

			.image-overlay {
				// opacity: 0;
				scale: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				pointer-events: none;
				transform: translate(-50%, -50%);
				transition: all 0.4s;
				background-color: #ffffff94;
				border-radius: 50%;
				width: 60px;
				height: 60px;

				i {
					font-size: 40px;
					color: #fff;
				}
			}
			&:hover > .image-overlay {
				opacity: 1;
				scale: 1;
				pointer-events: visible;
			}
		}
	}
}

.tag-input-title {
	display: flex;
	align-items: end;
	justify-content: space-between;
	.title {
		font-family: 'Ubuntu', sans-serif;

		color: $text-color;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		margin: 0px 0px 5px 5px;
	}
}

.tag-container {
	border-radius: 10px;
	padding: 10px 15px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	display: flex;
	flex-wrap: wrap;
	.tag {
		padding: 5px 10px;
		border: 1px solid $border-color;
		border-radius: 10px;
		margin: 5px;
		display: flex;
		align-items: center;
		-webkit-box-shadow: 0px 10px 10px 0px rgba(237, 237, 237, 1);
		-moz-box-shadow: 0px 10px 10px 0px rgba(237, 237, 237, 1);
		box-shadow: 0px 10px 10px 0px rgba(237, 237, 237, 1);
		font-size: 14px;

		span {
			margin-left: 5px;
			color: $text-color;
		}
		i {
			cursor: pointer;
			color: $main-color;
		}
	}

	input {
		border: 0;
		flex: 1;
		outline: none;
		padding: 10px;
		color: $text-color;

		&::placeholder {
			font-weight: 100;
			opacity: 0.7;
		}
	}
}
.tag-info {
	color: $main-color;
	font-size: 12px;
}

@media (max-width: 550px) {
	.container-content {
		min-height: unset !important;
		max-height: unset !important;
	}
	.createAnnouncement-container {
		flex-direction: column;

		.fixed-container {
			margin-bottom: 20px;
			.progress-container {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				.progress-item {
					padding-right: 25px;
					.description {
						margin-bottom: 10px;
						display: none;
					}

					.step-number {
						margin-right: 10px;
						width: 30px;
						height: 30px;
					}

					&::after {
						content: '';
						top: 50%;
						right: 0;
						transform: translate(0, -50%);
						width: 100%;
						height: 2px;
						background: none;
						background-image: linear-gradient(
							to right,
							transparent 0%,
							transparent 40%,
							rgb(155, 155, 155) 40%,
							rgb(196, 196, 196) 60%,
							transparent 60%,
							transparent 100%
						);
						background-size: 8px 100%;
					}
					margin-top: 0;

					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
}
