$logo-color: #67ade0;
$text-color: #676767;

header {
	background-color: #fff;
	padding: 5px;
	article {
		margin: 0;
		padding: 0;
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $text-color;
		transition: all 0.4s;

		.logo {
			a {
				color: $logo-color;
			}
			h2 {
				font-weight: bold;
			}
		}
		a {
			text-decoration: none;
		}

		.header-right-section {
			display: flex;
			align-items: center;
			> i {
				// margin-top: -6px;
				margin-left: 20px;
				font-size: 24px;
				opacity: 0.8;
				transition: all 0.4s;
				cursor: pointer;
				&:hover {
					opacity: 1;
				}
			}

			.header-right-section-account {
				display: flex;
				justify-content: center;
				align-items: center;
				.nav-profile {
					position: relative;
					span {
						padding: 10px;
						font-size: 18px;
						transition: all 0.4s;
						cursor: pointer;
					}

					.nav-profile-dropdown {
						background-color: #fff;
						-webkit-box-shadow: 0px 0px 18px 0px rgba(218, 218, 218, 1);
						-moz-box-shadow: 0px 0px 18px 0px rgba(218, 218, 218, 1);
						box-shadow: 0px 0px 18px 0px rgba(218, 218, 218, 1);
						transition: all 0.4s;
						margin-top: 10px;
						left: 0;
						position: absolute;
						padding: 20px;
						width: 200px;
					}
				}
			}
		}
	}
}
