@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$main-color: #67ade0;
$text-color: #828282;
$text-grey-color: #0a0606;
$light-text-color: #fff;
$border-color: #e6e6e6;
$heading-color: #383838;
$section-background: #fff;

$app-background-color: #f5f5f5;

$image-background: rgb(235, 235, 235);

// NEW
$white-elements: #fff;
$app-main-color: #0042a7;
$app-elements-color: #2b7fff;
$title-text-color: #434343;
$light-gray-text-color: #bbbbbb;
$light-border-color: #efefef;
//

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.announcements-section-title {
	color: $heading-color;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 0;
}
.announcements-section-subtitle {
	font-weight: 600;
	color: $app-elements-color;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
}

h1 {
	font-weight: 700 !important;
}

h6 {
	font-size: 14px !important;
	font-weight: bold !important;
	text-transform: uppercase;
}

.App {
	background-color: $app-background-color;
	font-family: 'Lato', sans-serif;
}

.scroll-lock {
	overflow: hidden;
}

.section-container {
	background-color: $section-background;
	color: $text-color;
	border: 1px solid $border-color;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	border-radius: 7px;
	color: $text-color;
	padding: 20px;
}

// .search-input-box {
// 	position: relative;
// 	display: flex;

// 	flex-grow: 2;
// 	min-height: 70px;
// 	transition: all 0.4s;

// 	// .search-input {
// 	// 	display: flex;
// 	// 	align-items: center;
// 	// 	justify-content: space-between;
// 	// 	background-color: #fff;
// 	// 	color: $text-color;
// 	// 	border-radius: 10px;
// 	// 	flex-grow: 2;

// 	// 	.search-input-filters {
// 	// 		display: flex;
// 	// 	}

// 	// 	i {
// 	// 		color: $main-color;
// 	// 	}

// 	// 	select {
// 	// 		padding: 10px 2px;
// 	// 		border: none;
// 	// 		color: $text-color;
// 	// 	}

// 	// 	.location-input,
// 	// 	.category-input {
// 	// 		display: flex;
// 	// 		align-items: center;
// 	// 		padding: 0 10px;
// 	// 	}

// 	// 	.location {
// 	// 		margin-left: 5px;
// 	// 		background: none;
// 	// 		border: none;
// 	// 		color: $text-color;

// 	// 		&:focus {
// 	// 			outline: none;
// 	// 		}
// 	// 	}

// 	// 	.main-input {
// 	// 		background: none;
// 	// 		border: none;
// 	// 		width: 100%;
// 	// 		color: $text-color;
// 	// 		&:focus {
// 	// 			outline: none;
// 	// 		}
// 	// 		&::placeholder {
// 	// 			font-weight: bold;
// 	// 			opacity: 0.6;
// 	// 		}
// 	// 	}

// 	// 	.submit-search-input {
// 	// 		display: flex;
// 	// 		border: none;
// 	// 		font-size: 18px;
// 	// 		color: #3d3d3d;
// 	// 		border-radius: 0px 10px 10px 0px;
// 	// 		background-color: $main-color;
// 	// 		padding: 0px 25px;
// 	// 		justify-content: center;
// 	// 		align-items: center;
// 	// 		height: 100%;
// 	// 		color: $light-text-color;
// 	// 		opacity: 0.8;
// 	// 		transition: all 0.4s;
// 	// 		i {
// 	// 			margin-right: 10px;
// 	// 			color: $light-text-color;
// 	// 		}
// 	// 		&:hover {
// 	// 			opacity: 1;
// 	// 		}
// 	// 	}
// 	// }
// }

// @media only screen and (max-width: 991px) {
// 	.search-input-box {
// 		.search-input {
// 			flex-direction: column;
// 			.search-bar-suggestions-input {
// 				height: auto;
// 			}
// 			.submit-search-input {
// 				border-radius: 2px;
// 				height: 50px;
// 				width: 100%;
// 			}
// 			.main-input {
// 				padding: 10px;
// 			}
// 		}
// 	}
// }

// @media only screen and (max-width: 508px) {
// 	.search-input {
// 		.search-input-filters {
// 			margin-top: 5px;
// 			flex-direction: column;
// 			width: 100%;

// 			i {
// 				margin-right: 10px;
// 				width: 23px;
// 			}
// 		}
// 	}
// }

.preview-announcement-search-section {
	// background-color: #fafafa;
	text-align: center;
	padding: 20px 0;
	color: $text-color;
	h2 {
		font-weight: bold;
	}
}

// INPUT DESIGN

.standard-input-design {
	p {
		color: $text-color;
		font-weight: bold;
		margin: 0;
		font-size: 18px;
	}

	input,
	select {
		margin-top: 2px;
		background-color: $light-text-color;
		border: 1px solid #cccccc;
		border-radius: 5px;
		padding: 10px;
		width: 100%;
		color: $text-color;

		&::placeholder {
			font-weight: 300;
			opacity: 0.7;
		}
	}
}

.text-area-design {
	background-color: $light-text-color;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	color: $text-color;

	&::placeholder {
		font-weight: 300;
		opacity: 0.7;
	}
}

.btn-design {
	background-color: $white-elements;
	color: $app-main-color;
	border: none;
	padding: 13px 25px;
	border-radius: 5px;
	font-weight: 600;
	font-size: 14px;
	transition: all 0.4s;
	border: 1px solid $app-main-color;

	&:hover {
		opacity: 1;
	}

	&.btn-color {
		background-color: $app-main-color;
		color: $white-elements;
	}

	&.btn-size-small {
		height: 40px;
		padding: 0px 20px;
	}

	&.btn-size-medium {
		padding: 10px 13px;
	}

	&.btn-size-big {
		padding: 10px 30px;
	}

	i {
		font-size: 14px;
	}
}

.LoadingPageContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	z-index: 99;

	&.full-load {
		background-color: #fff;

		span {
			margin-top: 30px !important;
			color: $text-color;
		}
	}

	.loading-content {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #fff;
		overflow: none;
		pointer-events: none;
		span {
			margin-top: -30px;
			font-size: 25px;
			font-weight: bold;
		}
	}
}

img.loading-image {
	display: none;
}

.search-page-row {
	// background-color: red;
}

// rectangular-announcement

.rectangular-announcement {
	-webkit-box-shadow: 0px 0px 10px 0px rgb(214, 214, 214);
	-moz-box-shadow: 0px 0px 10px 0px rgb(214, 214, 214);
	box-shadow: 0px 0px 10px 0px rgb(214, 214, 214);
	border-radius: 10px;

	display: flex;
	// height: 100px;
	min-height: 150px;
	opacity: 0.7;
	transition: all 0.4s;

	cursor: pointer;

	.rectangular-announcement-image {
		width: 200px;
		height: 150px;
		padding: 10px;
		img {
			border-radius: 8px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.rectangular-announcement-content {
		position: relative;
		width: 100%;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.reactangular-announement-top-section {
			h5 {
				margin: 0;
			}
			.title {
				font-weight: bold;
				font-size: 18px;
			}
			.price {
				margin-top: 5px;
				font-size: 18px;
			}
		}

		p {
			margin: 0;
		}
		.rectangular-announcement-bottom {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
		}

		.location {
			margin-top: 5px;
			font-size: 12px;
			display: flex;
			flex-direction: column;
		}
	}
}
.announcement-tags-list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 10px;
		margin-top: 5px;
		font-size: 12px;
		background-color: #e9e9e9;
		border-radius: 10px;
		padding: 5px 10px;
	}
}

.sort-icon {
	font-size: 20px;
	color: $text-color;
	opacity: 0.6;
	transition: all 0.4s;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
	&.active {
		opacity: 1;
		color: $main-color;
	}
}

.leaflet-container {
	height: 200px !important;
	width: 100%;
}

.search-filters-container {
	.search-filters-filters-menu-close-btn {
		display: none;
	}
}

.search-filters {
	padding-right: 20px;

	.search-filters-filter {
		margin-top: 10px;

		color: $light-gray-text-color;
		h5 {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 10px;
		}

		padding-bottom: 20px;

		border-bottom: 2px solid $light-border-color;

		&:last-child {
			border-bottom: none;
		}
	}
}

/* MySlider.scss */

.standard-slider {
	width: 100%;
	max-width: 500px;
	height: 10px;
	background-color: $white-elements;
	border-radius: 6px;

	.standard-slider-thumb {
		text-align: center;
		background-color: black;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		color: white;
		cursor: pointer;
		box-sizing: border-box;
		background-color: $app-elements-color;

		transform: scale(1.02);
		top: -5px;
	}

	.standard-slider-value {
		color: $light-gray-text-color;
		position: absolute;
		top: -20px;
		font-size: 12px;
	}

	.standard-slider-thumb.active {
		transform: scale(1.09);
		outline: none;
	}

	.standard-slider-track {
		position: relative;
		background-color: $app-elements-color;
		border-radius: 6px;
	}

	.standard-slider-track.standard-slider-track-1 {
		background-color: #bbbbbb;
		border-radius: 6px;
	}

	.standard-slider-track {
		height: 100%;
	}
}

.range-slider {
	width: 100%;
	height: 10px;
	background-color: $white-elements;
	border-radius: 6px;

	.range-slider-thumb {
		font-size: 10px;
		text-align: center;
		background-color: black;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		color: white;
		cursor: pointer;
		box-sizing: border-box;
		background-color: $app-elements-color;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: scale(1.02);
		top: -5px;
	}

	.range-slider-thumb.active {
		transform: scale(1.09);
		outline: none;
	}

	.range-slider-track {
		position: relative;
		background-color: #bbbbbb;
		border-radius: 6px;
	}

	.range-slider-track.range-slider-track-1 {
		// background-color: #bbbbbb;
		background-color: $app-elements-color;

		border-radius: 6px;
	}

	.range-slider-track.range-slider-track-1 {
		// background-color: red;
		background-color: $app-elements-color;
	}

	.range-slider-track {
		height: 100%;
	}
}

.pagination-total {
	color: $light-gray-text-color;
	margin-left: -10px;
}

.pagination {
	display: flex;
	justify-content: start;
	border: 1px solid $light-border-color;
	border-radius: 8px;
	padding: 10px 0px;
	.pagination-content {
		display: flex;
		width: 100%;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;

		.pagination-total-pages {
			color: $light-gray-text-color;
			font-size: 14px;
		}

		ul {
			list-style-type: none;
			display: inline;
			margin: 0;
			padding: 0;

			padding: 0 10px;
			li {
				// background-color: red;
				margin: 0px 6px;
				.pagination-page-number {
					width: 30px;
					height: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-weight: 300;
					&.active {
						font-weight: 700;
						border: 1px solid $light-gray-text-color;
						border-radius: 5px;
						a {
							color: $light-gray-text-color;
						}
						cursor: auto;
					}
				}

				.pagination-btn {
					color: $light-gray-text-color;
				}

				a {
					text-decoration: none;
					color: $main-color;
					transition: all 0.4s;
				}

				display: inline-block;

				&.disable {
					a {
						color: rgba(129, 129, 129, 0.2);
						cursor: auto;
						pointer-events: auto;
					}
				}
			}
		}
	}
}

.slider-next-arrow {
	background-color: $white-elements;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	z-index: 12;
	cursor: pointer;
}

.slider-prev-arrow {
	background-color: $white-elements;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	z-index: 12;
	cursor: pointer;
}

// @media only screen and (max-width: 620px) {
// 	.slider-next-arrow,
// 	.slider-prev-arrow {
// 		display: none;
// 	}
// }

.section-element {
	background-color: $white-elements;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(224, 224, 224, 1);
	-moz-box-shadow: 0px 0px 13px 0px rgba(224, 224, 224, 1);
	box-shadow: 0px 0px 13px 0px rgba(224, 224, 224, 1);
	border-radius: 6px;
	padding: 5px;

	.header-title {
		color: $title-text-color;
		font-weight: 800;
		font-size: 22px;
	}
}

.last-viewed-announcement {
	display: flex;
	height: 100px;
	opacity: 0.7;
	transition: all 0.4s;

	.last-viewed-announcement-image {
		width: 40%;
		padding: 10px;
		img {
			border-radius: 5px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.last-viewed-announcement-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		p {
			margin: 0;
		}
	}

	&:hover {
		opacity: 1;
		scale: 1.01;
		cursor: pointer;
	}
}

.featured-announcement-box {
	background-color: $white-elements;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(120, 122, 138, 1);
	-moz-box-shadow: 0px 0px 13px 0px rgba(120, 122, 138, 1);
	box-shadow: 0px 0px 13px 0px rgba(120, 122, 138, 1);
	width: 100%;
	height: 250px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	img {
		border-radius: 6px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform: scale(1);
		transition: all 0.4s;
	}
	.featured-announcement-box-content {
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.2);
		min-height: 30%;
		border-radius: 5px 5px 0px 0px;
		width: 100%;
		color: $white-elements;
		padding: 5px 10px;
		font-weight: bold;

		p {
			margin: 0;
		}
		.featured-announcement-box-content-title {
			margin-bottom: 5px;
		}
	}

	&:hover img {
		transform: scale(1.1);
	}
}

.featured-announcement-col.col-4 {
	.featured-announcement-box {
		height: 250px;
	}
}

.announcement-box {
	background-color: #ffffff;

	.announcement-image {
		width: 100%;
		height: 160px;
		text-align: center;
		background-color: $image-background;
		position: relative;
		overflow: hidden;
		img {
			border-radius: 6px 6px 0px 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(1);
			transition: all 0.4s;
		}
	}

	&:hover .announcement-image img {
		transform: scale(1.1);
	}

	.announcement-content {
		padding: 10px;
		display: flex;
		flex-direction: column;
		color: $text-color;
		.announcement-top-section {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.announcement-category {
				color: $main-color;
				font-size: 12px;
			}
			.announcement-likes {
				font-size: 14px;
				color: $main-color;
			}
		}

		.announcement-title-section {
			.announcement-title {
				font-weight: 600;
				margin: 0;
				margin-top: 5px;
				font-size: 15px;
			}

			.announcement-price {
				font-weight: bold;
				font-size: 15px;
				margin: 0;
				margin-top: 5px;
			}
		}

		.announcement-bottom {
			display: flex;
			justify-content: space-between;
			align-items: end;

			.announcement-date {
				display: flex;
				flex-direction: column;
				font-size: 12px;
			}
			.announcement-buttons {
				color: $main-color;
				font-size: 18px;

				.announcement-button {
					cursor: pointer;
				}
			}
		}
	}
}

.slick-prev:before,
.slick-next:before {
	color: $text-color !important;
}

.form-title {
	color: $main-color;
	font-weight: bold;
	// font-size: 18px;
}

@keyframes fade-in {
	from {
		scale: 0;
	}
	to {
		scale: 1;
	}
}

@keyframes fade-out {
	from {
		scale: 1;
	}
	to {
		scale: 0;
	}
}

.loadingPage {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;

	.loading-logo {
		position: relative;
		display: inline-block;
		font-size: 6em;
		font-weight: 800;
		color: $main-color;
		overflow: hidden;
		background: linear-gradient(to right, $main-color, royalblue 50%, #b2b2b2 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		animation: gradient-animation 5s infinite, bounce-animation 3s infinite;
		text-decoration: none;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}

	@keyframes gradient-animation {
		0% {
			background-position: 100%;
		}
		100% {
			background-position: 0 100%;
		}
	}

	@keyframes bounce-animation {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(10px);
		}

		100% {
			transform: translateY(0);
		}
	}
}

.loadingPage.fullSize {
	height: 100vh;
}

.loadingPage.fade-out {
	border-radius: 30px;
	animation: fade-out 400ms forwards;
}

.box-loading {
	position: fixed;
	background-color: #fff;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 10px;
	width: 400px;
	padding: 30px 0px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	z-index: 999;

	.box-loading-content {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}

.box-loading-shadow {
	position: fixed;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 998;
}

.form-input {
	display: flex;
	flex-direction: column;
	font-family: 'Ubuntu', sans-serif;
	color: $text-color;

	label {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		margin: 0px 0px 5px 0px;

		&.required::after {
			content: '*';
			position: relative;
			color: tomato;
			margin-left: 2px;
		}
	}

	input {
		border: none;
		border-radius: 10px;
		margin-left: -5px;
		padding: 10px 15px;
		border: 1px solid $border-color;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		-moz-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		opacity: 0.6;
		transition: opacity 0.4s;
		&:focus {
			outline: none;
			opacity: 1;
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	.search-input {
		display: flex;
		width: 100%;
		border: 1px solid $border-color;
		border-radius: 10px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		-moz-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		margin-left: -5px;
		input {
			flex: 1;
			border: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			margin: 0;
		}

		button {
			border: none;
			width: 60px;
			background-color: $main-color;
			color: $light-text-color;
			border-radius: 0px 10px 10px 0px;
		}
	}

	.input-message {
		opacity: 0.6;
		font-size: 13px;
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none; /* Standard syntax */
	}

	.ql-container.ql-snow {
		border: none !important;
	}

	.ql-toolbar.ql-snow {
		border: none !important;
		border-bottom: 1px solid $border-color !important;
	}

	.quill {
		border-radius: 10px;
		padding: 10px 15px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		-moz-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
		min-height: 200px;
		max-height: 300px;
		overflow-y: scroll;
	}
}

.mobile-section-buttons {
	display: none;
}

@keyframes left-in {
	from {
		left: -500px;
	}
	to {
		left: 0;
	}
}

@media only screen and (max-width: 991px) {
	.mobile-section-buttons {
		display: flex;
	}
	.search-filters-container {
		display: none;
		transition: all 0.4s;

		&.mobile-container {
			display: block;
			background-color: #fff;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 50;
			height: 100%;
			padding: 20px;
			overflow-y: scroll;

			animation-name: left-in;
			animation-duration: 0.4s;

			.search-filters-filters-menu-close-btn {
				display: block;
			}
		}
	}
}
