@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$main-color: #67ade0;
$text-color: #828282;
$text-grey-color: #0a0606;
$light-text-color: #fff;
$border-color: #e6e6e6;

$section-background: #fff;

// $app-background-color: #f8f8f8;
$app-background-color: rgb(241, 241, 241);

$image-background: rgb(235, 235, 235);

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.App {
	background-color: $app-background-color;
	font-family: 'Lato', sans-serif;
}

.scroll-lock {
	overflow: hidden;
}

.section-container {
	background-color: $section-background;
	color: $text-color;
	border: 1px solid $border-color;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	box-shadow: 0px 0px 10px 0px rgba(237, 237, 237, 1);
	border-radius: 7px;
	color: $text-color;
	padding: 20px;
}

.search-input-box {
	position: relative;
	display: flex;

	flex-grow: 2;
	min-height: 70px;
	transition: all 0.4s;

	.search-input {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		color: $text-color;
		border-radius: 10px;
		flex-grow: 2;

		.search-input-filters {
			display: flex;
		}

		i {
			color: $main-color;
		}

		select {
			padding: 10px 2px;
			border: none;
			color: $text-color;
		}

		.location-input,
		.category-input {
			display: flex;
			align-items: center;
			padding: 0 10px;
		}

		.location {
			margin-left: 5px;
			background: none;
			border: none;
			color: $text-color;

			&:focus {
				outline: none;
			}
		}

		.search-bar-suggestions-input {
			position: relative;
			width: 100%;
			position: relative;
			display: flex;
			align-items: center;
			padding: 0px 5px;
			width: 100%;
			height: 100%;

			input {
				background: none;
				border: none;
				width: 100%;
				color: $text-color;
				&:focus {
					outline: none;
				}
				&::placeholder {
					font-weight: bold;
					opacity: 0.6;
				}
			}
			.suggestions {
				width: 100%;
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 3;
				background-color: #fff;
				border-top: 0;
				text-align: left;

				// border-radius: 0px 0px 10px 10px;
				// overflow-y: scroll;
				transition: height 0.4s;
			}

			.suggestion-element {
				border-top: 1px solid $border-color;
				cursor: pointer;
				p {
					margin: 0;
					padding: 10px 15px;
				}

				transition: all 0.4s;

				&:hover {
					background-color: $main-color;
					color: $light-text-color;
				}
			}
		}

		.main-input {
			background: none;
			border: none;
			width: 100%;
			color: $text-color;
			&:focus {
				outline: none;
			}
			&::placeholder {
				font-weight: bold;
				opacity: 0.6;
			}
		}

		.submit-search-input {
			display: flex;
			border: none;
			font-size: 18px;
			color: #3d3d3d;
			border-radius: 0px 10px 10px 0px;
			background-color: $main-color;
			padding: 0px 25px;
			justify-content: center;
			align-items: center;
			height: 100%;
			color: $light-text-color;
			opacity: 0.8;
			transition: all 0.4s;
			i {
				margin-right: 10px;
				color: $light-text-color;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	.search-input-box {
		.search-input {
			flex-direction: column;
			.search-bar-suggestions-input {
				height: auto;
			}
			.submit-search-input {
				border-radius: 2px;
				height: 50px;
				width: 100%;
			}
			.main-input {
				padding: 10px;
			}
		}
	}
}

@media only screen and (max-width: 508px) {
	.search-input {
		.search-input-filters {
			margin-top: 5px;
			flex-direction: column;
			width: 100%;

			i {
				margin-right: 10px;
				width: 23px;
			}
		}
	}
}

.preview-announcement-search-section {
	// background-color: #fafafa;
	text-align: center;
	padding: 20px 0;
	color: $text-color;
	h2 {
		font-weight: bold;
	}
}

// INPUT DESIGN

.standard-input-design {
	p {
		color: $text-color;
		font-weight: bold;
		margin: 0;
		font-size: 18px;
	}

	input,
	select {
		margin-top: 2px;
		background-color: $light-text-color;
		border: 1px solid #cccccc;
		border-radius: 5px;
		padding: 10px;
		width: 100%;
		color: $text-color;

		&::placeholder {
			font-weight: 300;
			opacity: 0.7;
		}
	}
}

.text-area-design {
	background-color: $light-text-color;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	color: $text-color;

	&::placeholder {
		font-weight: 300;
		opacity: 0.7;
	}
}

.btn-design {
	background-color: $main-color;
	color: $light-text-color;
	border: none;
	padding: 13px 25px;
	border-radius: 5px;
	transition: all 0.4s;
	opacity: 0.8;

	&:hover {
		opacity: 1;
	}

	&.white {
		background-color: $light-text-color;
		color: $main-color;
		border: 1px solid $main-color;
	}

	&.btn-md {
		padding: 10px 13px;
	}

	&.btn-sm {
		height: 40px;
		padding: 0px 20px;
	}

	&.btn-long {
		padding: 10px 30px;
	}

	i {
		font-size: 14px;
	}
}

.LoadingPageContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	z-index: 99;

	&.full-load {
		background-color: #fff;

		span {
			margin-top: 30px !important;
			color: $text-color;
		}
	}

	.loading-content {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #fff;
		overflow: none;
		pointer-events: none;
		span {
			margin-top: -30px;
			font-size: 25px;
			font-weight: bold;
		}
	}
}

img.loading-image {
	display: none;
}

.search-page-row {
	// background-color: red;
}

// rectangular-announcement

.rectangular-announcement {
	-webkit-box-shadow: 0px 0px 10px 0px rgb(214, 214, 214);
	-moz-box-shadow: 0px 0px 10px 0px rgb(214, 214, 214);
	box-shadow: 0px 0px 10px 0px rgb(214, 214, 214);
	border-radius: 3px;

	.rectangular-announcement-image {
		text-align: center;
		img {
			padding: 5px;
			max-width: 100%;
			max-height: 150px;
		}
	}
	.rectangular-announcement-content {
		display: flex;
		position: relative;
		justify-content: space-around;
		flex-direction: column;
		padding-right: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		.reactangular-announement-top-section {
			display: flex;
			justify-content: space-between;
		}
		.price {
			color: $main-color;
		}

		.location {
			margin-top: 5px;
			display: flex;
			flex-direction: column;
			color: $text-color;
			font-size: 12px;
		}
		.favorite-icon {
			position: absolute;
			color: $text-color;
			font-size: 18px;
			bottom: 5px;
			right: 30px;
			cursor: pointer;
		}
	}
}
.announcement-tags-list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		margin-right: 10px;
		margin-top: 5px;
		font-size: 12px;
		background-color: #e9e9e9;
		border-radius: 10px;
		padding: 5px 10px;
	}
}

.sort-icon {
	font-size: 20px;
	color: $text-color;
	opacity: 0.6;
	transition: all 0.4s;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
	&.active {
		opacity: 1;
		color: $main-color;
	}
}

.leaflet-container {
	height: 200px !important;
	width: 100%;
}

.pagination {
	display: flex;
	justify-content: end;
	padding: 0 !important;

	ul {
		list-style-type: none;
		display: inline;
		margin: 0;
		padding: 0;

		li {
			.pagination-page-number {
				border: 1px solid $main-color;
				width: 40px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				&.active {
					background-color: $main-color;
					a {
						color: $light-text-color;
					}
					border-radius: 50%;
					cursor: auto;
				}
			}

			a {
				text-decoration: none;
				padding: 5px 10px;
				color: $main-color;
				transition: all 0.4s;

				&.pagination-number-btn {
					// border: 1px solid $main-color;
					// border-radius: 50%;
				}
			}

			display: inline-block;
			padding: 10px 10px;

			&.disable {
				a {
					color: rgba(129, 129, 129, 0.24);
					cursor: auto;
					pointer-events: auto;
				}
			}
		}
	}
}

.announcement-box {
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(120, 122, 138, 1);
	-moz-box-shadow: 0px 0px 13px 0px rgba(120, 122, 138, 1);
	box-shadow: 0px 0px 13px 0px rgba(120, 122, 138, 1);
	border-radius: 6px;

	.announcement-image {
		width: 100%;
		height: 160px;
		text-align: center;
		background-color: $image-background;
		position: relative;
		img {
			border-radius: 6px 6px 0px 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.announcement-content {
		padding: 10px;
		display: flex;
		flex-direction: column;
		color: $text-color;
		.announcement-top-section {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.announcement-category {
				color: $main-color;
				font-size: 12px;
			}
			.announcement-likes {
				font-size: 14px;
				color: $main-color;
			}
		}

		.announcement-title-section {
			.announcement-title {
				font-weight: 600;
				margin: 0;
				margin-top: 5px;
				font-size: 15px;
			}

			.announcement-price {
				font-weight: bold;
				font-size: 15px;
				margin: 0;
				margin-top: 5px;
			}
		}

		.announcement-bottom {
			display: flex;
			justify-content: space-between;
			align-items: end;

			.announcement-date {
				display: flex;
				flex-direction: column;
				font-size: 12px;
			}
			.announcement-buttons {
				color: $main-color;
				font-size: 18px;

				.announcement-button {
					cursor: pointer;
				}
			}
		}
	}
}

// SEARCH FILTERS

.search-filters {
	color: $text-color;

	.filter-title {
		display: flex;
		justify-content: space-between;
		h5 {
			font-size: 17px;
		}
		.filter-icon {
			font-size: 18px;
			cursor: pointer;
		}
	}

	.filter-input {
		border: 1px solid #a1a1a1;
		border-radius: 4px;
		background: none;
		height: 30px;
		width: 100%;
		padding: 5px;
		opacity: 0.8;
		color: $text-color;
		margin-top: 6px;

		&.medium {
			height: auto;
		}

		&::placeholder {
			opacity: 0.6;
			font-weight: 300;
		}
	}
}

.slick-prev:before,
.slick-next:before {
	color: $text-color !important;
}

.form-title {
	color: $main-color;
	font-weight: bold;
	// font-size: 18px;
}

@keyframes fade-in {
	from {
		scale: 0;
	}
	to {
		scale: 1;
	}
}

@keyframes fade-out {
	from {
		scale: 1;
	}
	to {
		scale: 0;
	}
}

.loadingPage {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;

	.loading-logo {
		position: relative;
		display: inline-block;
		font-size: 6em;
		font-weight: 800;
		color: $main-color;
		overflow: hidden;
		background: linear-gradient(to right, $main-color, royalblue 50%, #b2b2b2 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		animation: gradient-animation 5s infinite, bounce-animation 3s infinite;
		text-decoration: none;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}

	@keyframes gradient-animation {
		0% {
			background-position: 100%;
		}
		100% {
			background-position: 0 100%;
		}
	}

	@keyframes bounce-animation {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(10px);
		}

		100% {
			transform: translateY(0);
		}
	}
}

.loadingPage.fullSize {
	height: 100vh;
}

.loadingPage.fade-out {
	border-radius: 30px;
	animation: fade-out 400ms forwards;
}
