$main-color: #67ade0;
$text-color: #828282;
$light-text-color: #fff;
$section-background: #fff;
$border-color: #e6e6e6;

.top-information {
	p {
		margin: 0;
	}
	.top-information-category {
		font-size: 12px;
	}

	.top-information-back {
		font-weight: bold;
		font-size: 20px;
		cursor: pointer;
		opacity: 0.6;
		transition: opacity 0.4s;
		&:hover {
			opacity: 1;
		}
		display: inline-flex;
		align-items: center;
	}

	.top-information-announcement-id {
		font-size: 12px;
	}
}

.announcement-image-section {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	.image {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 400px;
		text-align: center;
		img {
			max-width: 100%;
			max-height: 100%;
			border-radius: 10px;
			cursor: pointer;
		}
		.image-arrows {
			.arrow-left,
			.arrow-right {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 50px;
				height: 50px;
				background-color: rgba(180, 180, 180, 0.23);
				border-radius: 50%;
				color: $light-text-color;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 24px;
				cursor: pointer;
				opacity: 0.7;
				transition: background-color 0.3s ease;

				&:hover {
					opacity: 1;
				}
			}

			.arrow-left {
				left: 0;
			}

			.arrow-right {
				right: 0;
			}
		}
	}
	.image-count {
		margin-top: 10px;
		text-align: center;
		i {
			margin-left: 10px;
			color: $text-color;
			cursor: pointer;

			&.active {
				color: $main-color;
				cursor: auto;
			}
		}
	}
}

.announcement-description-content {
	.quill {
		.ql-editor {
			padding: 2px;
		}
	}
}

.announcement-user-section {
	.announcement-user-info-box {
		margin-top: 10px;
		display: flex;
		align-items: center;
		img {
			width: 46px;
			height: 46px;
		}
		.announcement-user-info-box-content {
			margin-left: 10px;
			p {
				margin: 0;
				font-size: 12px;
			}

			.user-first_last_name {
				font-weight: 500;
				font-size: 16px;
			}
		}
	}
	.announcement-user-rate {
		background-color: #fff;
		padding: 5px;
		margin-top: 10px;
		text-align: center;
		border-radius: 8px;
		border: 1px solid $border-color;
		.rate-title {
			font-size: 15px;
			font-weight: 500;
			margin: 0px 0px 5px 0px;
		}

		.rate-text {
			margin-bottom: 0;
			font-size: 13px;
		}

		.rate-stars {
			i {
				color: $main-color;
				font-size: 20px;
			}
		}
	}
	.announcement-user-note {
		p {
			font-size: 12px;
		}
	}
}

.announcement-tags {
	display: flex;
	padding: 0;
	margin: 0;
	p {
		margin: 0;
		padding: 0;
	}
	.tag {
		padding: 5px 10px;
		border: 1px solid $border-color;
		border-radius: 10px;
		margin-right: 10px;
		display: flex;
		align-items: center;
		-webkit-box-shadow: 0px 10px 10px 0px rgba(237, 237, 237, 1);
		-moz-box-shadow: 0px 10px 10px 0px rgba(237, 237, 237, 1);
		box-shadow: 0px 10px 10px 0px rgba(237, 237, 237, 1);
		font-weight: bold;
		font-size: 14px;
	}
}

.announcement-description-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	i {
		font-size: 20px;
	}
	p.date {
		font-size: 12px;
	}
}

.announcement-description-title {
	.announcement-price {
		color: $main-color;
	}
}

.map-container {
	position: relative;
	background-color: red;
	z-index: 1;
}

@keyframes fade-in {
	from {
		scale: 0;
	}
	to {
		scale: 1;
	}
}

.gallery-modal {
	background-color: rgb(54, 54, 54);
	width: 100%;
	height: 100%;
	position: fixed;

	top: 0;
	left: 0;
	z-index: 80;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	animation: fade-out 300ms forwards;
	display: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	&::-webkit-scrollbar {
		display: none;
	}

	&.active {
		display: block;
		animation: fade-in 300ms forwards;
	}

	.gallery-model-close {
		display: flex;
		justify-content: end;
		padding-top: 20px;
		color: $light-text-color;
		i {
			font-size: 35px;
			cursor: pointer;
		}
	}

	.gallery-modal-main-image {
		position: relative;
		img {
			width: 100%;
			max-height: 80vh;
			object-fit: contain;
		}

		.image-arrows {
			.arrow-left,
			.arrow-right {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 50px;
				height: 50px;
				background-color: rgba(180, 180, 180, 0.23);
				border-radius: 50%;
				color: $light-text-color;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 24px;
				cursor: pointer;
				opacity: 0.7;
				transition: background-color 0.3s ease;

				&:hover {
					opacity: 1;
				}
			}

			.arrow-left {
				left: 0;
			}

			.arrow-right {
				right: 0;
			}
		}
	}
	.gallery-modal-other-images {
		text-align: center;
		margin-top: 20px;
		.gallery-model-other-images-container {
			width: 80px;
			height: 80px;
			display: inline-block;
			margin: 3px 5px;
			opacity: 0.6;
			&.active {
				border: 2px solid $main-color;
				opacity: 1;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			cursor: pointer;
			transition: all 0.4s;

			&:hover {
				transform: scale(1.02);
			}
		}
	}
}
